@media only screen and (max-width: 768px) {
    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 4.125rem
    }

    .card-header-info h3 {
        padding: 0.25rem 0;
    }

    .card-header-info[data-is-open='false'] {
        max-height: 4.125rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .card-header-info[data-is-open='false'] span {
        max-height: 4.125rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .card-header-info[data-is-open='false'] h3 {
        max-height: 4.125rem;
        overflow-wrap: anywhere;
        text-overflow: ellipsis;
    }

    .card-header-info[data-is-open='false'] p {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-header-buttons {
        display: flex;
        flex-direction: row;
    }

    .card-body, .card-footer {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
    }

    .card-body-highlight {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0.25rem 0;
    }

    .card-body-highlight p {
        font-size: 4rem;
        font-weight: bold;
    }

    .card-body-info {
        display: flex;
        flex-direction: row;
        overflow: scroll;
    }

    .card-body-info-panel {
        min-height: 6rem;
        min-width: 7rem;
        margin: 0 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}