@import "./styles/weather_card.css";
@import "./styles/five_day_forecast.css";

* {
    box-sizing: border-box;
    
    color: white;
    background: black;
    border-color: white;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }

  .icon-btn {
    border: none;
    min-height: 3rem;
    min-width: 3rem;
    margin: 0 0.25rem;
  }

  .icon-btn:active {
    background-color: white;
  }

  .icon-btn:active svg {
    fill: black;
    background-color: white;
  }