@import "./styles/weather_card.css";

* {
    box-sizing: border-box;
    
    color: white;
    background: black;
    border-color: white;
  }
  
  body {
    font-family: sans-serif;
    margin: 1.25rem;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
